@model IEnumerable<Webbutveckling_med_.NET___Moment_3._2.Models.Borrow>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Album)
            </th>
            <th>
                Name
            </th>
            <th>
                Borrowing Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Album.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BorrowId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BorrowId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BorrowId">Return Album</a>
            </td>
        </tr>
}
    </tbody>
</table>
